[test]
Pivot.Empty					= .5
Pivot.Size1SmallEmpty		= .5
Pivot.Size1LargeEmpty		= .5
Pivot.Size2SmallLarge		= .5
Pivot.Size2LargeSmall		= .5
Pivot.Size3LargeSmallLarge	= .5
Pivot.Size3SmallLargeSmall	= .5
Pivot.Size3LargeLargeSmall	= .5
Pivot.Size6SmallThenLarge	= .5
Pivot.Size6LargeThenSmall	= .5
Pivot.Nominal				= 1
Pivot.SameValues			= .5
Pivot.NoCopySameNodeCheck	= .5
Filter.EmptyList            = .5
Filter.Size1_F              = 1
Filter.Size1_nF             = 1
Filter.Size2_F_nF           = .5
Filter.Size2_nF_F           = .5
Filter.Size3_nF_F_nF        = .5
Filter.Size3_F_nF_F         = .5
Filter.SameNodeCheck        = .5
Filter.MultipleCalls        = .5
Filter.CompareWithLlrec		= .5