[test]
Heuristic.DirectHeuristic0							= 1
Heuristic.DirectHeuristic1         					= 2
Heuristic.DirectHeuristic234         				= 2
Heuristic.IndirectHeuristic0         				= 1
Heuristic.IndirectHeuristic1         				= 1
Heuristic.IndirectHeuristic234         				= 2
Heuristic.IndirectHeuristicFalsePositives         	= 2
Heuristic.IndirectHeuristicTruePositives         	= 2
Heuristic.IndirectHeuristicAboveBelow         		= 1
OperatorLT.Nominal1         						= 1
Move.ConstructorAndScore         					= 1
BoardTest.PotentialMoves1         					= 2
BoardTest.PotentialMoves2         					= 2
BoardTest.NoPotentialMoves         					= 2
BoardTest.Undo1         							= 3
Solver.Basic         								= 3
Solver.Difficult         							= 3
Solver.InBoard10x10         						= 3
Solver.Direct         								= 3
Solver.UnSolvable1         							= 3