[test]
Duplicates.Empty = 2
Duplicates.OneValueNoDuplicate = 0.5
Duplicates.OneValueOneDuplicate = 0.5
Duplicates.TwoValuesNoDuplicate = 1
Duplicates.TwoValueOneDuplicateA = 1
Duplicates.TwoValueOneDuplicateB = 1
Duplicates.ThreeValuesDuplicateStart = 1
Duplicates.ThreeValuesDuplicateMid = 1
Duplicates.ThreeValuesDuplicateEnd = 1
Duplicates.TenNumbers = 2
Duplicates.ManyDuplicateSequences = 2
Duplicates.DuplicatesMixed = 2
Duplicates.RandomStress500x10ele = 2
Concatenate.BothEmpty = 2
Concatenate.FirstEmptyOneVal = 2
Concatenate.SecondEmptyOneVal = 2
Concatenate.BothNonEmptyOneVal = 3
Concatenate.FirstEmptyMultipleVals = 3
Concatenate.SecondEmptyMultipleVals = 3
Concatenate.BothNonEmptyMultipleVals = 3
