[test]
Cmdhandlers.AndHandler = 2
Cmdhandlers.OrHandler = 2
Cmdhandlers.DiffHandler = 2
Cmdhandlers.IncomingHandler = 2
Cmdhandlers.OutgoingHandler = 2

[valgrind]
# valgrind deduction is (flat + failed * per_test)
valgrind_limit           =  0
valgrind_flat            =  0
valgrind_per_test        =  0

[warning]
warning_limit            =  0