[test]
Parsers.MdParserSpecialStart = 2
Parsers.MdParserSpecialEnd = 2
Parsers.MdParserSpecialMiddle = 2
Parsers.MdParserTextFull = 2
Parsers.MdParserLinksSepStart = 2
Parsers.MdParserLinksSepEnd = 2
Parsers.MdParserLinksSepMiddle = 2
Parsers.MdParserLinksFull = 2
Parsers.MDWriteupCornerCases = 2
Parsers.MDAnchorAnchor = 2

[valgrind]
# valgrind deduction is (flat + failed * per_test)
valgrind_limit           =  0
valgrind_flat            =  0
valgrind_per_test        =  0

[warning]
warning_limit            =  0