[test]
SearchEng.ParserRegistration = 5
SearchEng.ReadPageMultipleTimes = 5
SearchEng.ANDCombiner = 5
SearchEng.ORCombiner = 5
SearchEng.DiffCombiner = 5
SearchEng.RetrievePage = 5
SearchEng.LinkCornerCases = 5
SearchEng.SameLink = 5
SearchEng.DisplayPage = 5

[valgrind]
# valgrind deduction is (flat + failed * per_test)
valgrind_limit           =  4
valgrind_flat            =  4
valgrind_per_test        =  0
